body {
    background-color: lightgrey;
}

h1 {
  font-family: 'Tangerine';
  font-size: 60px;
  text-align: center;
  margin: 5%;
}

button {
    background-color: #3b3b3b; 
    height: 42px;
    width: 24.1%;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  box-shadow: 2px 2px 1px #888888;
  border-radius: 18px
}

.special_button {
  background-color: orange;
}


#result {
  background-color: darkgreen;
  text-align: right;
  font-size: 24px;
  padding: 3%;
  color: white;
  margin: 1%;
  height: 60px;
  width: 98%;
  box-shadow: 2px 2px 1px #888888;
  border-radius: 10px
}

#calculator {

  margin-left: auto;
  margin-right: auto;
  margin-top: -10%;
    display: block;
    width: 430px;
    height: 250px;
    border: 4px solid green;
  box-shadow: 10px 10px 5px #888888;
    
}

#shell {
  margin-top: 20%
  
}


